services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo_list
    ports:
    - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysql", "-uroot", "-proot", "-e", "SELECT 1" ]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 5s
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
  app:
    build: .
    container_name: java_app
    depends_on:
      db:
        condition: service_healthy
    tty: true
    stdin_open: true
    ports:
      - "8080:8080"
    environment:
      - TERM=xterm